.Top_meny{
    background-color: rgb(155, 155, 155);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -2%;
    margin-left: -0.6%;
    margin-right: -0.6%;
}

.Meny_länkar{
    display: flex;
    justify-content: space-evenly;
}

#Undre_gradient_meny{
    background-color: rgb(155, 155, 155);
    background-image: linear-gradient(rgb(155, 155, 155),rgb(72, 72, 72));
    height: 15svh;
}

body{
    background-color: rgb(72, 72, 72);
}

#Meny_logo{
    margin: 2%;
    float: left;
}

#Home_page{
    margin-top: 2.5%;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    background-color:  rgb(145, 145, 145);
}

#Search_movies_page{
    margin-top: 2.5%;
    padding-left: 8%;
    padding-right: 8%;
    background-color:  rgb(145, 145, 145);
}

#Contact_information_page{
    margin-top: 2.5%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    background-color: rgb(145, 145, 145);
}

.Övre_länk_animation:hover{
    animation-name: Övre_länkar_animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes Övre_länkar_animation{
    from{background-color: rgb(145, 145, 145) ;}
    to {background-color:  rgb(135, 135, 135);}
}

